<div class="container mt-4">
  <h3>Daftar Pegawai</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>NIP</th>
        <th>Nama</th>
        <th>Jabatan</th>
        <th>Status</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of pegawaiList">
        <td>{{ p.nip }}</td>
        <td>{{ p.nama }}</td>
        <td>{{ p.jabatan }}</td>
        <td>{{ p.status }}</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="deletePegawai(p._id!)">Hapus</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>