<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>Dashboard</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 mb-3">
              <div class="card text-center">
                <div class="card-body">
                  <h5>Daftar Pegawai</h5>
                  <p>Lihat semua data pegawai</p>
                  <a routerLink="/pegawai" class="btn btn-primary">Lihat</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="card text-center">
                <div class="card-body">
                  <h5>Tambah Pegawai</h5>
                  <p>Tambah data pegawai baru</p>
                  <a routerLink="/pegawai/tambah" class="btn btn-success">Tambah</a>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="card text-center">
                <div class="card-body">
                  <h5>Profil</h5>
                  <p>Lihat profil pengguna</p>
                  <a class="btn btn-info">Lihat</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>